# Example configuration.
# secretly a shell script.

# not required, but useful when you have lots of packages under a single account
base=https://github.com/org-or-user

# package build specification:
# repo=REPO_NAME package PKG_NAME GIT_REPO_URL
repo=example package example1 $base/example1
# optionally takes another argument: the path to a script to run before invoking `uptb`.
repo=core package cynosure-2 $base/oc-cynosure-2 /opt/ulos2/hacks/cynosure

# for remote package servers
# repo=REPO_NAME push SERVER_PATH
repo=core push server:/path/to/www/ulos/v2/
# for package servers on the same machine:
repo=example push /path/to/www/ulos/v2/
